<!DOCTYPE html>
<html>
    <head>
        <title data-i18n="myLanguageKey">The default title</title>
    </head>
    <body>
        <script>
            INCLUDE('index.i18n');
            INCLUDE('script.js');
            INCLUDE('styles.css');
        </script>
    </body>
</html>
