body {
    font-weight: bold;
}

html[lang=da] .theThing {
    width: 128px;
    background-image: url(foo.png);
}

html[lang="de"].anotherClassOnHtml .theGermanThing {
    width: 130px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEUAAAD///+l2Z/dAAAAM0lEQVR4nGP4/5/h/1+G/58ZDrAz3D/McH8yw83NDDeNGe4Ug9C9zwz3gVLMDA/A6P9/AFGGFyjOXZtQAAAAAElFTkSuQmCC);
}

html[lang="sv"] .theSwedishThing {
    width: 128px;
    background-image: url(bar.png);
}
