{
  "extends": ["standard", "prettier"],
  "plugins": ["import", "mocha"],
  "env": {
    "mocha": true
  },
  "rules": {
    "no-path-concat": 0,
    "mocha/no-exclusive-tests": "error",
    "mocha/no-nested-tests": "error",
    "mocha/no-identical-title": "error"
  }
}
