body {
    background-image: url(actuallyAJpeg.png?sprite=foo);
}

.quux {
    background-image: url(actuallyAPng.jpg?sprite=foo);
}

.bar {
    background-image: url(actuallyAJpeg.png);
}

.baz {
    background-image: url(actuallyAPng.jpg);
}